/* Variables for colors */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-color: #fff;
    --submit-button: #40473d;
    --border-input: rgb(226, 219, 219);
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: left;
}

.form-group {
    margin-bottom: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px; /* Adjust for padding in columns */
}

.col-6,
.col-12 {
    padding: 0 10px; /* Add padding to columns */
    box-sizing: border-box; /* Include padding in width */
}

.col-6 {
    flex: 0 0 48%; /* Two columns side by side */
    max-width: 48%;
}

.col-12 {
    flex: 0 0 100%; /* Full width */
}

/* Styles for labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Styles for input fields and textarea */
input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 2px solid var(--border-input);
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Full width for better responsiveness */
}

.radio-input{

    padding: 10px;
    border: 2px solid var(--border-input);
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Full width for better responsiveness */

}


/* Button styles */
button {
    padding: 10px 15px;
    background-color: var(--submit-button);
    color: var(--font-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Full width for better responsiveness */
}

/* Button hover effect */
button:hover {
    background-color: var(--secondary-color);
}

/* Output paragraph styles */
p#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
