<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel="stylesheet" href="../Static/css/styles.css">
</head>
<body>
    <h1>Contact Us</h1>

    <form class="form-group" id="contact-form" action="/" method="POST">
        <div class="row">
            <div class="col-6">
                <label for="first_name">First Name*</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>

            <div class="col-6">
                <label for="last_name">Last Name*</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>

            <div class="col-12">
                <label for="email_address">Email Address*</label>
                <input type="email" id="email_address" name="email_address" required>
            </div>
            
            <label>Query Type*</label>
            <div class="row col-12 query-type-container">
                <div class="col-6 radio-input">
                    <input type="radio" id="query_type_general" name="query_type" value="General Enquiry" required>
                    <a for="query_type_general">General Enquiry</a>
                </div>
                
                <div class="col-6 radio-input">
                    <input type="radio" id="query_type_subject" name="query_type" value="Subject Request" required>
                    <a for="query_type_subject">Subject Request</a>
                </div>
            </div>

            <div class="col-12">
                <label for="message">Message*</label>
                <textarea id="message" name="message" required style="height:200px"></textarea>
            </div>

            <div class="col-12">
                <input type="checkbox" id="consent" name="consent" required>
                <a for="consent">I consent to being contacted by the team *</a>
            </div>

            <div class="col-12">
                <button type="submit" id="submit-btn">Submit</button>
            </div>
        </div>
    </form>

    <div class="container" id="output">
        <!-- Display form output -->
    </div>
    

    <script src="../Static/js/script.js"></script>
</body>
</html>
